[user]
	name = Dmytro Milinevskyy
	email = milinevskyy@gmail.com
[core]
	editor = vim
	pager = less -+$LESS -FRSX
[alias]
	d = diff
	l = log --color=always
	br = branch
	in = !git remote update -p && git log --color=always ..@{u}
	out = log --color=always @{u}..
	fp = format-patch
	rb = rebase
	rbi = rebase -i
	rbis = !git stash && git rebase -i && git stash pop
	rbc = rebase --continue
	rba = rebase --abort
	cp = cherry-pick
	ci = commit
	cia = commit --amend
	ciaa = commit --amend -a
	cian = commit --amend --no-edit
	ciana = commit --amend --no-edit -a
	co = checkout
	up = !(git add . && git stash && git pull --rebase >&2) | grep -v "No local changes to save" && git stash pop
	st = status
	stb = status -sb
	pulom = pull origin master
	pusom = push origin master
	pr = pull --rebase
	prs = !git stash && git pull --rebase && git stash pop
	rvt = revert --no-edit
	lg = log --color=always -p
	lol = log --color=always --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --color=always --graph --decorate --pretty=oneline --abbrev-commit --all
	gr = log --color=always --all --graph --pretty=format:'%Cred%h%Creset%x09%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	wd = diff --color-words
	cd = diff --cached
	wcd = diff --color-words --cached
[color]
    branch = auto
    diff = auto
    status = auto
    log = always
[color "branch"]
    current = red
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = red
    untracked = cyan
