[user]
  name = Dmytro Milinevskyi
  email = dmilinevskyi@gmail.com
[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  d = diff -b
  sb = show -b
  wd = diff --color-words -b
  cd = diff --cached -b
  wcd = diff --color-words --cached -b
  l = log --color=always
  br = branch
  brs = branch --sort=committerdate
  brsl =!git brs --color=always | tail -n 40
  in = !git remote update -p && git log --color=always ..@{u}
  out = log --color=always @{u}..
  fp = format-patch
  rb = rebase
  rbi = rebase -i
  rbid = rebase -i --reset-author-date --committer-date-is-author-date
  rbis = !git stash && git rebase -i && git stash pop
  rbc = rebase --continue
  rba = rebase --abort
  m = merge
  mc = merge --continue
  ma = merge --abort
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort
  ci = commit
  cia = commit --amend
  ciaa = commit --amend -a
  cian = commit --amend --no-edit
  ciana = commit --amend --no-edit -a
  co = checkout
  up = !(git add . && git stash && git pull --rebase >&2) | grep -v "No local changes to save" && git stash pop
  st = status
  stb = status -sb
  pulom = pull origin master
  pusom = push origin master
  pr = pull --rebase
  prs = !git stash && git pull --rebase && git stash pop
  rvt = revert --no-edit
  rvtc = revert --continue
  rvta = revert --abort
  lg = log --color=always -p --no-merges
  lol = log --color=always --graph --decorate --pretty=oneline --abbrev-commit
  loll = !git lol -n 40
  lgx = !git lg --no-merges --first-parent
  lolx = !git lol --no-merges --first-parent
  lollx = !git loll --no-merges --first-parent
  lola = log --color=always --graph --decorate --pretty=oneline --abbrev-commit --all
  gr = log --color=always --all --graph --pretty=format:'%Cred%h%Creset%x09%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  sh = stash
  shp = stash pop
  sha = stash apply
  she = stash --all
  shu = stash --include-untracked
  sho = stash --keep-index
[color]
  branch = auto
  diff = auto
  status = auto
  log = always
  ui = true
[color "branch"]
  current = red
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = red
  untracked = cyan
[push]
  default = current
  autoSetupRemote = true
  autoSetupMerge = always
[pull]
  rebase = false
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[rerere]
	enabled = true
	autoUpdate = true
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
[grep]
	extendRegexp = true
	lineNumber = true
