[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Dmytro Milinevskyy
	email = milinevskyy@gmail.com
[core]
	editor = vim
	pager = less -+$LESS -FRSX
[alias]
	ci = commit
	co = checkout
	st = status
	pulom = pull origin master
	pusom = push origin master
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	wdiff = diff --color-words
	cdiff = diff --cached
	wcdiff = diff --color-words --cached
[color]
    branch=auto
    diff=auto
    status=auto
[color "branch"]
    current=red
    local=yellow
    remote=green
[color "diff"]
    meta=yellow bold
    frag=magenta bold
    old=red bold
    new=green bold
[color "status"]
    added=green
    changed=red
    untracked=cyan
