<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="desk-menu" label="Desktops">
		<item label="Desktop 1">
			<action name="Desktop">
				<desktop>
					1
				</desktop>
			</action>
		</item>
		<item label="Desktop 2">
			<action name="Desktop">
				<desktop>
					2
				</desktop>
			</action>
		</item>
	</menu>
	<menu id="fun-menu" label="Fun">
		<item label="steam">
			<action name="Execute">
				<execute>steam-launch</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-accessories-menu" label="Accessories">
		<item label="kcachegrind">
			<action name="Execute">
				<execute>kcachegrind</execute>
			</action>
		</item>
		<item label="Electrum">
			<action name="Execute">
				<execute>electrum</execute>
			</action>
		</item>
		<item label="Baobab">
			<action name="Execute">
				<execute>baobab</execute>
			</action>
		</item>
		<item label="GPA">
			<action name="Execute">
				<execute>gpa</execute>
			</action>
		</item>
		<item label="BT">
			<action name="Execute">
				<execute>bitcoin-qt</execute>
			</action>
		</item>
		<item label="Spotify">
			<action name="Execute">
				<execute>spotify</execute>
			</action>
		</item>
		<item label="Dropbox">
			<action name="Execute">
				<execute>dropbox</execute>
			</action>
		</item>
		<item label="TeamViewer">
			<action name="Execute">
				<execute>teamviewer</execute>
			</action>
		</item>
		<item label="Zeal">
			<action name="Execute">
				<execute>zeal</execute>
			</action>
		</item>
		<item label="Libre Office">
			<action name="Execute">
				<execute>libreoffice</execute>
			</action>
		</item>
		<item label="asoundconf">
			<action name="Execute">
				<execute>asoundconf-gtk</execute>
			</action>
		</item>
		<item label="Redis Manager">
			<action name="Execute">
				<execute>rdm</execute>
			</action>
		</item>
		<item label="robomongo">
			<action name="Execute">
				<execute>robomongo</execute>
			</action>
		</item>
		<item label="urxvtc">
			<action name="Execute">
				<execute>
					urxvtc
				</execute>
			</action>
		</item>
		<item label="urxvt">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="VirtualBox">
			<action name="Execute">
				<execute>
					VirtualBox
				</execute>
			</action>
		</item>
		<item label="Gimp">
			<action name="Execute">
				<execute>gimp</execute>
			</action>
		</item>
		<item label="Geeqie">
			<action name="Execute">
				<execute>
					geeqie
				</execute>
			</action>
		</item>
		<item label="Mirage">
			<action name="Execute">
				<execute>
					mirage
				</execute>
			</action>
		</item>
		<item label="emacs">
			<action name="Execute">
				<execute>
					emacs
				</execute>
			</action>
		</item>
		<item label="PCManFM">
			<action name="Execute">
				<execute>
					pcmanfm-mod
				</execute>
			</action>
		</item>
		<item label="xArchiver">
			<action name="Execute">
				<execute>
					xarchiver
				</execute>
			</action>
		</item>
		<item label="djView">
			<action name="Execute">
				<execute>
					djview4
				</execute>
			</action>
		</item>
		<item label="Acrobat Reader">
			<action name="Execute">
				<execute>
					acroread
				</execute>
			</action>
		</item>
		<item label="calculator">
			<action name="Execute">
				<execute>
					gnome-calculator
				</execute>
			</action>
		</item>
		<item label="DeaDBeeF">
			<action name="Execute">
				<execute>
					deadbeef
				</execute>
			</action>
		</item>
		<item label="meld">
			<action name="Execute">
				<execute>
					meld
				</execute>
			</action>
		</item>
		<item label="gtkwave">
			<action name="Execute">
				<execute>
					gtkwave
				</execute>
			</action>
		</item>
		<item label="quartus">
			<action name="Execute">
				<execute>
					/projects/tools/altera-quartus-web/quartus/bin/quartus
				</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Transmission">
			<action name="Execute">
				<execute>transmission</execute>
			</action>
		</item>
		<item label="Wireshark">
			<action name="Execute">
				<execute>wireshark-qt</execute>
			</action>
		</item>
		<item label="Wicd">
			<action name="Execute">
				<execute>
					wicd-client
				</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<execute>
					firefox
				</execute>
			</action>
		</item>
		<item label="Firefox Private">
			<action name="Execute">
				<execute>
					firefox -private-window
				</execute>
			</action>
		</item>
		<item label="Skype">
			<action name="Execute">
				<execute>
					skype-relaxed
				</execute>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<execute>google-chrome-stable</execute>
			</action>
		</item>
		<item label="Cromium">
			<action name="Execute">
				<execute>chromium --disk-cache-dir=/tmp/chromium-cache</execute>
			</action>
		</item>
		<item label="Cromium Incognito">
			<action name="Execute">
				<execute>chromium --incognito --disk-cache-dir=/tmp/chromium-cache</execute>
			</action>
		</item>
		<item label="Tor">
			<action name="Execute">
				<execute>tor-browser-en</execute>
			</action>
		</item>
	</menu>
	<menu id="config-menu" label="Config">
		<item label="PA prefs">
			<action name="Execute">
				<execute>paprefs</execute>
			</action>
		</item>
		<item label="keys">
			<action name="Execute">
				<execute>xbindkeys_config</execute>
			</action>
		</item>
		<item label="Lxappearance">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<item label="Tint Configuration Manager">
			<action name="Execute">
				<execute>
					tint2conf
				</execute>
			</action>
		</item>
		<item label="Openbox Menu Configuration">
			<action name="Execute">
				<execute>
					obmenu
				</execute>
			</action>
		</item>
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<execute>
					obconf
				</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="log-out-menu" label="Log out">
		<item label="Suspend">
			<action name="Execute">
				<execute>
					systemctl suspend
				</execute>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="WM"/>
		<menu id="desk-menu"/>
		<separator label="Applications"/>
		<menu id="apps-accessories-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="fun-menu"/>
		<separator label="System"/>
		<menu id="config-menu"/>
		<separator/>
		<menu id="log-out-menu"/>
	</menu>
</openbox_menu>
